// fonts
@import url("https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap");
// colors
$primary-color: #fff;
$text-color: black;
$footer-color: #F0F0F0;
// font family
$font-family: 'Calligraffitti';
//transition
$transition: all 0.3s linear;
//letter spacing
$main-spacing: 0.1rem;